# ===== Base de datos (worklex_persistencia) =====
POSTGRES_DB=sena
POSTGRES_USER=admin
POSTGRES_PASSWORD=Admin123*
POSTGRES_PORT=5432

# ===== Conexión Django =====
DB_HOST=worklex_persistencia
DB_PORT=5432

# ===== Django (worklex_backend) =====
DEBUG=True
SECRET_KEY=django-insecure-test
DJANGO_PORT=8000

# ===== Frontend (worklex_frontend) =====
VITE_PORT=3000
VITE_API_URL=http://localhost/api

# ===== Redis (worklex_cache) =====
REDIS_PORT=6379

# ===== Vault (worklex_vault) =====
VAULT_PORT=8200
VAULT_ROOT_TOKEN=worklex-root-token

# ===== MinIO (worklex_media) =====
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=worklex
MINIO_ROOT_PASSWORD=worklex123

# ===== Keycloak (worklex_auth) =====
KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# ===== Firewall WAF (worklex_firewall) =====
FIREWALL_PORT=8081

# ===== Monitor (worklex_monitor) =====
GRAFANA_PORT=3001
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
PROMETHEUS_PORT=9090

# ===== Logs (worklex_logs) =====
LOKI_PORT=3100
